*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.container{
    width: 1140px;
    margin: 0  auto;
}

.text:hover{
    color: red;
}

.demo-2:hover{
    color: red;
    background: black;
    left: 20px;
    top: 20px;
    font-size: 18px;
    font-weight: 800;
    transform: rotate(180deg);
}
.button{
    color: cornflowerblue;
    background-color: crimson;
    transition: all linear .3s;
}
.button:hover{
    color: brown;
    background: purple;
}
.button:visited{
    color: rgb(2, 255, 149);
    background: rgb(187, 255, 0);
}

.button:active{
    color: #ff0099;
    background: #0400ff;
    font-size: 18px;
}
